.section2 {
    background-color: #1A1A1A;
    min-height: 300px;
    max-height: 816px;
}

.section2 h1 {
    color: #023373;
    font-size: 48px;
    font-weight: 600;
    justify-content: center;
    display: flex;
}

.section2 div {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
