.section7 {
    height: 927px;
    background-color: #242A40;
}

.fundoContato {
    height: 651px;
    background-color: #1A1A1A;
    color: white;
}

.fundoSubContato {
    background-color: #1A1A1A;
    height: 560px;
    display: flex;
    flex-direction: row;
}