.section5 {
    height: 954px;
}

.section5 div {
    background-color: red;
}

.section5 div h1 {
    font-size: 32px;
}

.botaoWhat2 {
    height: 60px;
    background-color: #00EA17;
    display: flex;
    flex-direction: row;
}